.sidebar {
    position: sticky;
    top: var(--app-margin);
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: var(--sidebar-height);
    min-width: var(--sidebar-width);
    gap: 10px;
    background-color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 25px;
}

.sidebar-item {
    text-decoration: none;
    display: block;
    font-size: 24px;
    line-height: 24px;
}

.sidebar-item:last-child {
    margin-top: auto;
}

a.logout-button {
    background-color: var(--light-mint);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 7px;
}