body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'Roboto Slab', serif;
  font-weight: 300;

  background-color: #edf6f9;
  opacity: 1;
  background-image:  radial-gradient(#83c5be 2px, transparent 2px), radial-gradient(#83c5be 2px, #edf6f9 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
  background-attachment: fixed;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.center-self {
  place-self: center;
}

.center-contents {
  place-content: center;
  place-items: center;
}

.container-row {
  width: 100%;
  display: flex;
  gap: 25px;
}

.container-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fill {
  flex: 1 0 auto;
}

.card {
  padding: 40px;
  background: white;
  border-radius: 15px;
}

.text-primary {
  color: #006D77;
}

.hint {
  color: #6F686D;
}

a {
  color: #83c5be;
}

a:visited {
  color: #006D77;
}